<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <style>
  .jumbotron {
    max-height: 250px;
    background-color: #3E3458;
    color: #fff;
  }

  .container {
    background-color: black;
    color: #fff;
  }

  body {
    background-color: black;
  }

  .logo {
    max-width: 525px;
    max-height: 525px;
    text: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 200px;
  }

  .link {
    color: #fff;
    font-size: 21px;
    text-decoration: bold;
    float: right;
    text-align: right;
    padding-top: 20px;
    margin-right: 12px;
  }

  .dream-text {
    font-size: 22px;
    padding-top: 22px;
  }

  #dashboard {
    margin-top: 125px;
    color: white;
  }

</style>
</head>
<body>

<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col align-center dream-text">
        <p>Dream it, write it, share it</p>
      </div>

      <div class="col">
        <%= image_tag ("DreamBookLogo.png"), :class => "logo" %>
      </div>

        <%= link_to 'Home', root_path, :class => "link" %>
        <%= link_to 'Dashboard', dashboard_path, :class => "link", method: :get %> 
        <%= link_to 'Record a Dream', new_blog_path, :class => "link" %>
        <%= link_to 'Logout', session_path(current_user.id), :class => "link", method: :delete %>
    </div>
  </div>
</div>

<div class="col-sm-12 text-center" id="dashboard">
  <h1>Dreamer Blogs</h1>
</div>

<div class="col-sm-12 text-center">
  <% @blogs.each do |blog| %>
    <% if blog.status == 'shared' %>
      <%= link_to blog.title, blog_path(blog.id) %>
      <%= button_to 'Comment', "/blogs/#{blog.id}/comments/new", method: :get %> <br>
    <% end %>
  <% end %>
</div>
