<div class="bg-secondary text-white">
  <div class="container text-right">
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Dashboard', dashboard_path, method: :get %> |
    <%= link_to 'Logout', session_path(current_user.id), method: :delete %>
  </div>
  <div class="container text-center">
    <h2>Blogs</h2>
    <p class="text-primary"></p>
  </div>
</div>
<% @blogs.each do |blog| %>
<% if blog.status == 'shared' %>
<%= link_to blog.title, blog_path(blog.id) %>
<%= button_to 'Comment', "/blogs/#{blog.id}/comments/new", method: :get %>
<% else %>
<% end %>
<% end %>
