
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <style>
  .jumbotron {
    background-color: #3E3458;
    color: #fff;
    text-transform: uppercase;
  }

  .container {
    background-color: black;
    color: #fff;
    font-weight: bold;
    
  }

  body {
    background-color: black;
    color: #fff;
    font: 15px monaco, monospace;
    
  }

  .logo {
    height: 45%;
    width: 45%;
  }

  .link {
    color: #fff;
    font-size: medium;
    text-decoration: bold;
    float: right;
    background-color: #3E3458;
  }
</style>
</head>
<body>

<div class="jumbotron text-center">
<h1 class="display-3"><%= @blog.title %></h1>
  <nav class="navbar navbar-expand-sm bg-#3E3458 navbar-dark fixed-top">
    <%= link_to 'Home', root_path, :class => "link" %> |
    <% if current_user %>
      <%= link_to ' Log out ', session_path(current_user.id), :class => "link", method: :delete %> |
      <%= link_to ' Dreams ', blogs_path %>| 
      <%= link_to 'Dashboard', dashboard_path, :class => "link", method: :get%>
    <% end %>
  </div>

<div class="container-fluid p-4 my-3 border">
  <div class="row">
    <div class="col-sm-4">
  <p><%= image_tag ("DreamBookLogo.png"), :class => "logo" %></p>
    </div>
 <div class="body text-center"> <h3>"<%= @blog.body %>"</h3>
 <%= link_to 'Update Blog', edit_blog_path(@blog.id), :class => "link", method: :get %>
 <%= link_to 'Delete Blog', blog_path(@blog.id), :class => "link", method: :delete %>
 <br>
 </div>

<h5 class="container text-right"> Comments: </h5>
<h6 class="container text-right"> <% @comments[:data].each do |comment| %>
"<%= comment[:attributes][:comment_text] %>"
  <br><br><br>
<% end %>
</h6>

<br><br><br><br><br><br>
 <h6 class="container text-center">Add Comment</h6>
<div class="container text-center"> <%= form_with url: blog_comments_path(@blog.id), method: :post, local: true do |f|  %>
  <%= f.label :comment_text %>:
  <%= f.text_field :comment_text %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :blog_id, :value => @blog.id %>
  <%= f.submit %>
<% end %>
</div>

