<h1>Dreamer Dashboard</h1>
<p>Dreamer: <%=  @user.username  %> </p>
<%= link_to 'Home', root_path %> |
<% if current_user %>
    <%= link_to 'Log out', session_path(current_user.id), method: :delete %>
    <%= link_to 'Delete Account', user_path(current_user.id), method: :delete %>
    <%= link_to 'Change Username', '/dashboard/update' %>
<% end %>


<% @user_blogs.each do |blog| %>
    <%= link_to "#{blog.title}", blog_path(blog.id) %>
<% end %>