<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <style>
  .jumbotron {
    max-height: 250px;
    background-color: #3E3458;
    color: #fff;
  }

  .container {
    background-color: black;
    color: #fff;
  }

  body {
    background-color: black;
  }

  .logo {
    max-width: 525px;
    max-height: 525px;
    text: center;
    padding-top: 0px;
    padding-left: 60px;
    padding-bottom: 200px;
  }

  .link {
    color: #fff;
    font-size: 21px;
    text-decoration: bold;
    float: right;
    text-align: right;
    padding-top: 20px;
    margin-right: 12px;
  }

  .link-dream {
    color: #fff;
    font-size: 21px,
    text-decortion: bold;
    float: left;
    text-align: left;
    margin-right: 12px;
  }

  .dream-text {
    font-size: 22px;
    padding-top: 22px;
  }

  #dashboard {
    margin-top: 125px;
    color: white;
  }

  #blog {
    margin-top: 130px;
    color: white;
  }

  .blog-link {
    color: #fff;
  }



</style>
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col align-center dream-text">
      <p>Dream it, write it, share it</p>
        <% if current_user %>
          <%= link_to 'Record a Dream', new_blog_path, :class => "link-dream" %>
          <%= link_to 'Dreams', blogs_path, :class => "link-dream" %>
        <% end %>
      </div>

      <div class="col">
        <%= image_tag ("DreamBookLogo.png"), :class => "logo" %>
      </div>

        <% if current_user %>
          <%= link_to 'Home', root_path, :class => "link" %>
          <%= link_to 'Delete Account', user_path(current_user.id), :class => "link", method: :delete %>
          <%= link_to 'Change Username', '/dashboard/update', :class => "link" %>
          <%= link_to 'Log out', session_path(current_user.id), :class => "link", method: :delete %>
        <% end %>
    </div>
  </div>
</div>

<div class="col-sm-12 text-center" id="dashboard">
  <h1>Dreamer Dashboard</h1>
  <p>Dreamer: <%= @user.username %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 text-left" id="blog">
      <h2>My Dreams</h2><br>
      <% @user_blogs.each do |blog| %>
        <p><%= link_to "#{blog.title}", blog_path(blog.id), :class => "blog-link"%></p>
      <% end %>
    </div>

    <div class="col-sm-8 text-left text-white" id="blog">
    <h2>Movie Recommendations</h2><br>
      <% @movies.each do |movie| %>
        <p>Movie Title: <%= movie.title %></p>
        <p>Movie Description: <%= movie.description[0..100] %>...</p>
      <% end %><br><br>

    <h2>Book Recommendations</h2><br>
      <% @books.each do |book| %>
            <p>Book Title: <%= book.title %></p>
            <p>Book Author: <%= book.author %></p>
      <% end %>
  </div>
</div>

