<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.5/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.5/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <style>
  .jumbotron {
    max-height: 250px;
    background-color: #3E3458;
    color: #fff;
  }

  .container {
    background-color: black;
    color: #fff;
  }
 
  body {
    background-color: black;
  }
 
  .logo { 
    max-width: 300px; 
    max-height: 300px;
  }

  .link {
    color: #fff;
    font-size: 22px;
    text-decoration: bold;
    float: right;
    text-align: center;
  }

  .dream {
    text-align: center;
    float: center;
  }

  #dream-blog {
    margin-top: 125px;
    color: white;
  }

  .dream-text {
    font-size: 22px;
  }

</style>
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col align-center dream-text">
        <p>Dream it, write it, share it</p>
      </div>
      <div class="col text-center fixed-top">
        <%= image_tag ("DreamBookLogo.png"), :class => "logo" %>
      </div>
      <div class="col dream-text">
        <%= link_to 'Home', root_path, :class => "link"%>
          <% if current_user %>
            <p><%= link_to 'Log out', session_path(current_user.id), method: :delete %><p>
            <%= link_to 'Blogs', blogs_path, method: :get%>
            <%= link_to 'Dashboard', dashboard_path, method: :get%> 
          <% else %>
            <%= link_to 'Log in/Register', '/auth/google_oauth2', :class => "link" %>
          <% end %>
      </div>
    </div>
  </div> 
  <div class="text-center" id="dream-blog">
    <h1>Dream of the week</h1>
    <p>Here, we will need to figure out how to display the blog of the week and format it so that it looks nice.</p> 
  </div>
</div>




